{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid" id="auth" style="background-color: #beaf20 ; min-height: 100vh;">
  <div class="container"><br>
    <div class="row">
      <!-- Empty div -->
      <div class="col-md-4"></div>
      <div class="col-md-4 card "style="background-color:#83b71d">
        {% if form.errors %}
        <p> Password or Username is incorrect </p>
        {% endif %}
        <div class="panel panel-default">
  
          <div class="panel-heading">
            <h3 class="text-center">Login</h3>
          </div>
          <div class="panel-body">
  
            <form action="" method="post">
              {% csrf_token %}
              {% bootstrap_form form%}
               <p>Don't have an account? <a href="register/">Register</a></p>
              <br>
              <div class="form-group">
                <input type="submit" class="btn btn-dark btn-sm" style="width: 100%;" value="Login">
              </div>
              <br>
  
              <input type="hidden" name="next" value="{{next}}">
  
            </form>
  
          </div>
  
        </div>
  
      </div>
      <!-- empty div -->
      <div class="col-md-4"></div>
    </div>
  </div>
</div>


{% endblock %}