{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- homepage section -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p style="margin-left: 70%;">ARE YOU A MEMBER? <a href="login/">LOGIN</a></p>
                </div>
            </div>
            <div class="row">
               
                <div class="col-md-12 text-center" id ="homepage">
                    <button type="button" style="background-color: transparent;" class="btn btn-warning">GET STARTED <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
               
        </div>
        </div>
    

{% endblock %}